.RegisterWrapper { 
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../../assets/Home/HomeImage.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.RegisterWrapper .RegisterBox {
  position: absolute;
  width: 386px;
  height: auto;
  padding: 40px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 62px;
  top: 25%;
  left: 15%;
}

.RegisterH1 {
  position: relative;
  margin-bottom: 20px;
}

.RegisterWrapper .RegisterBox input {
  width: 280px;
  height: 41px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
  border: .1px solid #999999;
  border-bottom: none;
}

.RegisterWrapper .RegisterBox button {
  position: relative;
  width: 163px;
  height: 34px;
  margin: 15px;
  margin-left: 22%;
  background: #0D3C84;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  color: #FFFFFF;
}